db_user=tasteit
db_password=password
db_name=tasteit
db_host=localhost
reset_db=false

image_folder=./static/images
secret=secret
GIN_MODE=debug
PORT=5000

GAMMA_AUTHORIZATION_URI=http://localhost:8081/api/oauth/authorize
GAMMA_REDIRECT_URI=http://localhost:3000/api/auth/account/callback
GAMMA_TOKEN_URI=http://localhost:8081/api/oauth/token
GAMMA_ME_URI=http://localhost:8081/api/users/me
GAMMA_SECRET=secret
GAMMA_CLIENT_ID=client_id
GAMMA_LOGOUT_URL=http://localhost:8081/api/logout